<li>
   <a href="#tiger">tiger</a>
</li>
<li>
  <a href="#shapes">shapes</a>
  <ul class="nav">
     <li href="#">Circle(圆形)</li>
     <li href="#">Sector(扇形)</li>
     <li href="#">Ellipse(椭圆)</li>
     <li href="#">Rect(矩形)</li>
     <li href="#">Line(直线)</li>
     <li href="#">BrokenLine(折线)</li>
     <li href="#">Beziercurve(贝塞尔曲线)</li>
     <li href="#">Isogon(正多边形)</li>
     <li href="#">Polygon(多边形)</li>
     <li href="#">Path(路径)</li>
  </ul>
</li>
<li>
  <a href="#">charts</a>
  <ul class="nav">
    <li><a href="#">histogram</a></li>
  </ul>
</li>
<li>
  <a href="#">games</a>
  <ul class="nav">
      <li><a href="#">中国象棋</a></li>
      <li><a href="#">连连看</a></li>
  </ul>
</li>
<li>
  <a href="#">animation</a>
  <ul class="nav">
    <li><a href="#">大量气泡测试</a></li>
  </ul>
</li>
