<li class='about'>
   <a href="#about">关于(About Canvax)</a>
   <ul class="nav">
       <li><a href="#about-how">Canvax是什么</a></li>
       <li><a href="#about-cando">如何使用Canvax</a></li>
       <li><a href="#creat-canvax">如何创建Canvax项目</a></li>

   </ul>
</li>


<li class='displayList'>
   <a href="#displayList">DisplayList</a>
   <ul class="nav">
       <li><a href="#DisplayObject">DisplayObject</a></li>
       <li><a href="#DisplayObjectContainer">DisplayObjectContainer</a></li>
       <li><a href="#Shape">Shape</a></li>
       <li><a href="#Sprite">Sprite</a></li>
       <li><a href="#Stage">Stage</a></li>
       <li><a href="#Canvax">Canvax</a></li>
       <li><a href="#Text">Text</a></li>
       <li><a href="#Bitmap">Bitmap</a></li>
       <li><a href="#Moveclip">Moveclip</a></li>
   </ul>
</li>


<li class='Shapes'>
   <a href="#Shapes">Shapes</a>
   <ul class="nav">
       <li><a href="#Circle">Circle</a></li>
       <li><a href="#Ellipse">Ellipse</a></li>
       <li><a href="#Sector">Sector</a></li>
       <li><a href="#Rect">Rect</a></li>
       <li><a href="#Isogon">Isogon</a></li>
       <li><a href="#Polygon">Polygon</a></li>
       <li><a href="#Line">Line</a></li>
       <li><a href="#BrokenLine">BrokenLine</a></li>
       <li><a href="#Beziercurve">Beziercurve</a></li>
       <li><a href="#Path">Path</a></li>
   </ul>
</li>





