<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
              {% if page.slug == "api" %}
                {% include nav-api.html %}
              {% elsif page.slug == "examples" %}
                {% include nav-examples.html %}
              {% elsif page.slug == "about" %}
                {% include nav-about.html %}
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
          {{ content }}
        </div>
      </div>

    </div>

    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">

     
        <ul class="footer-links">
          <li>Currently v{{ site.current_version }}</li>
        </ul>
      </div>
    </footer>

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
